@charset "UTF-8";
.container {
  max-width: 1245px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-left {
  padding-left: clamp(0.938rem, -1.563rem + 10.67vw, 6.438rem);
}
@media (max-width: 480px) {
  .container-left {
    padding-right: 15px;
  }
}

.container-content {
  padding-left: max(15px, (100% - 1245px) / 2);
}

.container__tags {
  padding-left: max(15px, (100% - 1380px) / 2);
}

.container-total {
  padding-left: clamp(0.938rem, -1.563rem + 10.67vw, 6.438rem);
  padding-right: clamp(0.938rem, -1.563rem + 10.67vw, 6.438rem);
}

.container-flex {
  display: flex;
  justify-content: end;
}
@media (max-width: 480px) {
  .container-flex {
    justify-content: start;
  }
}

.d-none {
  display: none;
}
@media (max-width: 980px) {
  .d-none {
    display: block;
  }
}

@media (min-width: 880px) {
  .d-none-mobile {
    display: none;
  }
}

@media (min-width: 485px) {
  .d-none-little {
    display: none;
  }
}

.b-rad {
  border-radius: 30px;
}

.b-rad-left {
  border-radius: 30px 0 0 30px;
}

@media (max-width: 485px) {
  .p-right-mob {
    padding-right: 15px;
  }
}

.slash {
  color: #868686;
  font-size: 16px;
}
@media (max-width: 980px) {
  .slash {
    display: none;
  }
}

.dash {
  height: 1px;
  width: 100%;
  background-color: #CDD1D4;
}
@media (min-width: 485px) {
  .dash {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  min-width: 320px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.h2 {
  font-family: "Circe", sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 1.159rem + 1.45vw, 2.25rem);
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #002438;
  margin-bottom: clamp(0.938rem, 0.653rem + 1.21vw, 1.563rem);
}

.description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.705rem + 0.73vw, 1.25rem);
  line-height: clamp(1.063rem, 0.864rem + 0.85vw, 1.5rem);
  color: #000000;
  margin-bottom: 25px;
}

/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ITC Klepto";
  src: url("../assets/fonts/itc/klepto_itc_tt.woff") format("woff"), url("../assets/fonts/itc/klepto_itc_tt.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe/CIRCE-EXTRABOLD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  transition: all 0.35s ease;
  background-color: #F5EBE3;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .brand {
    display: none;
  }
}

.menu {
  position: fixed;
  top: -120%;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 13px;
  overflow: hidden;
  background-color: #F5F5F5;
  transition: all 0.4s ease-in-out;
}
.menu.is-active {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 34px;
  padding-left: 30px;
}
.menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #A69389;
  transition: all 0.3s ease;
}
.menu-link:hover {
  color: #5A4D45;
  text-shadow: 0 0 0.001px #5A4D45, 0 0 0.001px #5A4D45;
}
@media only screen and (min-width: 880px) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }
  .menu-link {
    text-transform: capitalize;
  }
  .menu-block {
    margin-left: 2rem;
  }
}

.menu-mobile {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 15px;
}
.menu-mobile__langs {
  display: flex;
  gap: 8px;
}
@media (min-width: 880px) {
  .menu-mobile__langs {
    display: none;
  }
}
@media (min-width: 880px) {
  .menu-mobile {
    display: none;
  }
}

.lang__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 134%;
  color: #A69389;
}
.lang__link--unactive {
  color: rgba(166, 147, 137, 0.5);
}
.lang p {
  font-weight: 500;
  font-size: 16px;
  line-height: 134%;
  color: #A69389;
}

.mobile-line {
  width: 100%;
  height: 1px;
  background-color: rgba(166, 147, 137, 0.5);
  margin-bottom: 40px;
}
@media (min-width: 880px) {
  .mobile-line {
    display: none;
  }
}

.mobile-buttons {
  margin-top: 70px;
  padding-left: 30px;
}
@media (min-width: 880px) {
  .mobile-buttons {
    display: none;
  }
}

.burger {
  position: absolute;
  right: 22px;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.75rem;
  height: 1rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
@media only screen and (min-width: 880px) {
  .burger {
    display: none;
    visibility: hidden;
  }
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: #A69389;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  right: -1.5rem;
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

.promo {
  padding-top: 70px;
  background-image: linear-gradient(to bottom, rgba(46, 41, 35, 0.2), rgba(46, 41, 35, 0.2)), url("../assets/img/main-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-container {
  width: clamp(19.563rem, 11.125rem + 36vw, 38.125rem);
  display: flex;
  justify-content: flex-end;
  padding-top: clamp(14.375rem, 11.307rem + 13.09vw, 21.125rem);
  padding-bottom: clamp(2.625rem, 1.602rem + 4.36vw, 4.875rem);
}

.main-title {
  font-family: "ITC Klepto", sans-serif;
  font-weight: 400;
  font-size: clamp(3rem, 2.13rem + 4.35vw, 6rem);
  line-height: 83%;
  color: #ffffff;
}
.main-title__highlight {
  font-family: "ITC Klepto", sans-serif;
}

.tags {
  padding-top: clamp(1.25rem, 0.398rem + 3.64vw, 3.125rem);
  padding-bottom: clamp(1.875rem, 1.023rem + 3.64vw, 3.75rem);
}
.tags__wrapper {
  position: relative;
}
.tags .links {
  display: flex;
  flex-wrap: nowrap;
}

.tags__wrapper {
  position: relative;
  overflow: hidden;
}

.tags-scroller {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-right: 50px;
}
@media (max-width: 820px) {
  .tags-scroller {
    margin-right: 0;
  }
}

.ml-50 {
  margin-left: 50px;
  transition: all 0.3s ease-in-out;
}

.tags-scroller__content {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: clamp(0.375rem, 0.057rem + 1.59vw, 1.25rem);
  float: left;
  width: min-content;
  min-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.no-transition {
  transition: none;
}

.tag-scroller-btn {
  bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top: 0;
  border: 0;
  background: none;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: #7EBB00;
  width: 40px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 820px) {
  .tag-scroller-btn {
    display: none;
  }
}

.tag-scroller-btn:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.tag-scroller-btn--left {
  left: 0;
  border-radius: 0 50px 50px 0;
}

.tag-scroller-btn--right {
  right: 0;
  border-radius: 50px 0 0 50px;
}

.recipes {
  margin-bottom: clamp(1.875rem, -0.516rem + 10.2vw, 8.563rem);
}
@media (max-width: 485px) {
  .recipes {
    padding-top: 30px;
  }
}

.recipes__wrapper {
  display: flex;
  position: relative;
}
@media (max-width: 1100px) {
  .recipes__wrapper {
    display: block;
  }
}

.recipes__content {
  padding-right: 0;
  width: 100%;
}
@media (min-width: 1100px) {
  .recipes__content {
    width: 289px;
    padding-right: 25px;
  }
}

.recipe-button-prev {
  position: absolute;
  bottom: 110px;
  left: 210px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .recipe-button-prev {
    left: 210px;
  }
}
@media (max-width: 1050px) {
  .recipe-button-prev {
    left: 180px;
  }
}
@media (max-width: 980px) {
  .recipe-button-prev {
    display: none;
  }
}

@media (max-width: 980px) {
  .swiper-recipes {
    margin-bottom: 25px;
  }
}

.production {
  margin-bottom: clamp(1.875rem, -0.359rem + 9.53vw, 8.125rem);
}
@media (max-width: 485px) {
  .production {
    padding-top: 30px;
  }
}

.production__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 0.4fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas: "product-main product-main product-little-1 product-little-2" "product-main product-main product-button product-button";
}
@media (max-width: 767px) {
  .production__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 17px;
    grid-template-areas: "product-main product-main product-little-1" "product-main product-main product-button";
  }
}
@media (max-width: 485px) {
  .production__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.7fr;
    gap: 0px 17px;
    grid-template-areas: "product-main product-little-1" "product-button product-button";
  }
}

.product-main {
  grid-area: product-main;
  position: relative;
}

.main-product__img {
  max-height: 590px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media (max-width: 485px) {
  .main-product__img {
    aspect-ratio: 7/8;
    margin-bottom: 30px;
  }
}

.product-little-1 {
  grid-area: product-little-1;
}

.product-little-2 {
  grid-area: product-little-2;
}
@media (max-width: 767px) {
  .product-little-2 {
    display: none;
  }
}

.product-button {
  grid-area: product-button;
  align-self: end;
}

.production__wrapper {
  height: 100%;
  margin: 0;
}

.product__img {
  margin-bottom: 30px;
  aspect-ratio: 7/8;
  object-fit: cover;
}
.product__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #000000;
}
@media (max-width: 485px) {
  .product__subtitle {
    display: none;
  }
}
.product__title {
  font-weight: 400;
  font-size: clamp(0.938rem, 0.682rem + 1.09vw, 1.5rem);
  line-height: clamp(1.125rem, 0.813rem + 1.33vw, 1.813rem);
  text-transform: uppercase;
  color: #000000;
}
.product__title span {
  text-transform: lowercase;
}

.note-1 {
  position: absolute;
  top: -25px;
  left: 150px;
}
@media (max-width: 1100px) {
  .note-1 {
    width: 130px;
  }
}
@media (max-width: 890px) {
  .note-1 {
    width: 62px;
    top: 70px;
    left: 85%;
  }
}
@media (max-width: 485px) {
  .note-1 {
    top: 25px;
    left: 70%;
  }
}

.note-2 {
  position: absolute;
  top: 5px;
  left: -40px;
}
@media (max-width: 1100px) {
  .note-2 {
    width: 130px;
  }
}
@media (max-width: 890px) {
  .note-2 {
    width: 55px;
    left: -5px;
  }
}

.note-3 {
  position: absolute;
  top: 140px;
  left: -50px;
}
@media (max-width: 1100px) {
  .note-3 {
    width: 130px;
    top: 110px;
  }
}
@media (max-width: 890px) {
  .note-3 {
    width: 62px;
    top: 60px;
    left: -5px;
  }
}

.note-4 {
  position: absolute;
  top: 280px;
  left: -40px;
}
@media (max-width: 1100px) {
  .note-4 {
    width: 130px;
    top: 200px;
  }
}
@media (max-width: 890px) {
  .note-4 {
    width: 50px;
    top: -5px;
    left: 60px;
  }
}

.note-5 {
  position: absolute;
  top: 440px;
  left: -40px;
}
@media (max-width: 1100px) {
  .note-5 {
    width: 130px;
    top: 320px;
  }
}
@media (max-width: 890px) {
  .note-5 {
    width: 65px;
    top: 120px;
    left: 85%;
  }
}
@media (max-width: 485px) {
  .note-5 {
    top: 75px;
    left: 70%;
  }
}

.best {
  overflow: hidden;
  margin-bottom: clamp(3.125rem, 1.338rem + 7.63vw, 8.125rem);
}

@media (min-width: 767px) {
  .best {
    display: flex;
  }
}
.best__content {
  flex: 0 0 100%;
  display: flex;
}

.best__container {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.info {
  padding: 50px 20px 50px 0;
}

.description-best {
  margin-bottom: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
}

@media (min-width: 767px) {
  .info {
    width: 50%;
    padding: 50px 125px 50px 0;
  }
}
.best__image img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 767px) {
  .best__image {
    position: relative;
    flex: 0 0 50%;
    padding: 0 0 41.5% 0;
    transform: translate(-100%, 0);
  }
  .best__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
  }
}
.gallery {
  margin-bottom: clamp(3.75rem, 1.739rem + 8.58vw, 9.375rem);
}

.gallery-wrapper {
  display: flex;
  align-items: baseline;
}

.swiper-slide:nth-child(odd) {
  aspect-ratio: 450/393;
}
.swiper-slide:nth-child(even) {
  aspect-ratio: 255/292;
}
.swiper-slide img {
  border-radius: 30px;
  object-fit: cover;
}

.footer {
  position: relative;
}

.footer-top {
  padding-top: clamp(2.813rem, 1.989rem + 3.52vw, 4.625rem);
  padding-bottom: clamp(3.625rem, 3.199rem + 1.82vw, 4.563rem);
  background-color: #F5EBE3;
  border-radius: 30px 30px 0 0;
}
.footer-top__wrapper {
  max-width: 830px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (max-width: 690px) {
  .footer-top__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}

.buttons-button {
  position: relative;
}

.buttons-social__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.buttons-social__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #A69389;
}
.buttons-social__icons {
  display: flex;
  gap: 14px;
}

.social-link {
  width: 45px;
  height: 45px;
  background-color: #D0C0B8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}
.social-link:hover {
  background-color: #968780;
}

.footer-bottom {
  background-color: #D0C0B8;
  padding-top: 13px;
  padding-bottom: 13px;
}
@media (max-width: 420px) {
  .footer-bottom {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}
.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (max-width: 1200px) {
  .footer-bottom__wrapper {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
.footer-bottom__item .copyright {
  font-weight: 600;
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
  line-height: 120%;
  color: #73655E;
}
.footer-bottom__item .main-link {
  position: relative;
}
.footer-bottom__item .main-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #73655E;
  position: absolute;
  left: 0;
  bottom: 0;
}

.dev-info {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: "Open Sans" sans-serif;
}
.dev-info p {
  color: #A69389;
  font-size: 14px;
  line-height: 134%;
}
.item-links {
  display: flex;
  align-items: center;
  gap: clamp(0.125rem, -0.034rem + 0.8vw, 0.563rem);
}
@media (max-width: 980px) {
  .item-links {
    flex-direction: column;
  }
}
.item-links a {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #A69389;
}

.footer-img-absolute-1 {
  position: absolute;
  bottom: 35px;
  left: 15%;
}
@media (max-width: 1385px) {
  .footer-img-absolute-1 {
    left: 10%;
  }
}
@media (max-width: 1385px) {
  .footer-img-absolute-1 {
    display: none;
  }
}

.footer-img-absolute-2 {
  position: absolute;
  top: -140px;
  left: 65px;
}
@media (max-width: 1200px) {
  .footer-img-absolute-2 {
    display: none;
  }
}

.button-main {
  background-color: #7EBB00;
  color: #ffffff;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.58rem + 0.73vw, 1.125rem);
  line-height: 120%;
  padding-top: clamp(0.813rem, 0.585rem + 0.97vw, 1.313rem);
  padding-bottom: clamp(0.813rem, 0.585rem + 0.97vw, 1.313rem);
  padding-left: clamp(1.5rem, 1.273rem + 0.97vw, 2rem);
  padding-right: clamp(1.5rem, 1.273rem + 0.97vw, 2rem);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.button-main:hover {
  transform: scale(1.1);
}

.menu-search {
  margin-left: clamp(0rem, -1.955rem + 9.77vw, 5.375rem);
}

.search {
  position: relative;
}
@media (max-width: 500px) {
  .search {
    width: 80%;
  }
}
.search__input {
  background-color: #F5EBE3;
  border: 1.5px solid #A69389;
  border-radius: 50px;
  padding: 9px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #A69389;
  width: 100%;
}
.search__icon {
  position: absolute;
  top: 11px;
  right: 15px;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.dropbtn {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #A69389;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
@media (max-width: 500px) {
  .dropdown {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5EBE3;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #A69389;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  z-index: 2;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.tag {
  border: 2px solid #7EBB00;
  border-radius: 50px;
  color: #7EBB00;
  font-weight: 600;
  font-size: clamp(0.75rem, 0.682rem + 0.34vw, 0.938rem);
  line-height: 120%;
  padding-top: clamp(0.813rem, 0.631rem + 0.91vw, 1.313rem);
  padding-bottom: clamp(0.813rem, 0.631rem + 0.91vw, 1.313rem);
  padding-left: clamp(0.875rem, 0.511rem + 1.82vw, 1.875rem);
  padding-right: clamp(0.875rem, 0.511rem + 1.82vw, 1.875rem);
  white-space: nowrap;
  transition: all ease-in-out 0.2s;
}

.tag:hover, .tag:focus, .tag:active {
  color: #ffffff;
  background-color: #7EBB00;
}

.recipe {
  transition: all ease-in-out 0.2s;
  overflow: hidden;
}
.recipe:hover img {
  transform: scale(1.1);
  border-radius: 30px;
}
.recipe:hover .recipe-title span {
  text-shadow: 0 0 0.15px #7EBB00, 0 0 0.15px #7EBB00;
}
.recipe__image {
  transition: all ease-in-out 0.2s;
  margin-bottom: clamp(0.938rem, 0.511rem + 1.82vw, 1.875rem);
  overflow: hidden;
  border-radius: 30px;
}
.recipe__image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: 395/450;
  transition: all ease-in-out 0.2s;
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 980px) {
  .features {
    display: block;
  }
}

.text {
  max-width: 286px;
}
@media (max-width: 980px) {
  .text {
    margin-bottom: 12px;
  }
}

.tip {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #000000;
}
@media (max-width: 485px) {
  .tip {
    display: none;
  }
}

.recipe-title {
  font-weight: 400;
  font-size: clamp(0.938rem, 0.682rem + 1.09vw, 1.5rem);
  line-height: clamp(1.188rem, 0.903rem + 1.21vw, 1.813rem);
  color: #000000;
  transition: all ease-in 0.2s;
}
.recipe-title span {
  color: #A9D08C;
  text-transform: uppercase;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 980px) {
  .time {
    flex-direction: row;
    gap: 7px;
  }
}
.time__icon {
  width: 18px;
}
.time__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #B3B3B3;
  text-align: right;
}

.little-product {
  margin-bottom: 10px;
}
@media (max-width: 980px) {
  .little-product {
    width: 164px;
  }
}
.little-product__img {
  aspect-ratio: 289/330;
}
@media (max-width: 980px) {
  .little-product__img img {
    width: 164px;
  }
}
@media (max-width: 420px) {
  .little-product__img img {
    aspect-ratio: 164/183;
  }
}
.product-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #000000;
}
@media (max-width: 485px) {
  .product-subtitle {
    display: none;
  }
}

.product-title {
  font-weight: 400;
  font-size: clamp(0.938rem, 0.682rem + 1.09vw, 1.5rem);
  line-height: clamp(1.125rem, 0.813rem + 1.33vw, 1.813rem);
  text-transform: uppercase;
}
.product-title span {
  text-transform: lowercase;
}

@media (max-width: 670px) {
  .product-link:nth-child(2) {
    display: none;
  }
}
.connect-link {
  display: inline-block;
  border: 2px solid #968780;
  border-radius: 50px;
  padding: 14px 20px;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.682rem + 0.34vw, 0.938rem);
  line-height: 155%;
  color: #968780;
  transition: all ease-in-out 0.2s;
  position: relative;
}
.connect-link:hover {
  color: #ffffff;
  background-color: #968780;
}
.connect-link::after {
  content: url("../assets/img/footer-img-2.png");
  position: absolute;
  top: -165px;
  left: 50px;
}
@media (max-width: 1200px) {
  .connect-link::after {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */