@charset "UTF-8";
.container {
  max-width: 1245px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: end;
}
@media (max-width: 480px) {
  .container-flex {
    justify-content: start;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  min-width: 320px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.h2 {
  font-weight: 800;
  font-size: clamp(1.5rem, 1.159rem + 1.45vw, 2.25rem);
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #002438;
  margin-bottom: clamp(0.938rem, 0.653rem + 1.21vw, 1.563rem);
}

.description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.705rem + 0.73vw, 1.25rem);
  line-height: clamp(1.063rem, 0.864rem + 0.85vw, 1.5rem);
  color: #000000;
}

/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/montserrat/montserrat-variablefont_wght.woff2") format("woff2"), url("../../assets/fonts/montserrat/montserrat-variablefont_wght.woff") format("woff"), url("../../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ITC Klepto Pro";
  src: url("../../assets/fonts/itc/klepto_itc_tt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../../assets/fonts/circe/circe-extrabold.woff2") format("woff2"), url("../../assets/fonts/circe/circe-extrabold.woff") format("woff"), url("../../assets/fonts/circe/CIRCE-EXTRABOLD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/open_sans/opensans-variablefont_wdthwght.woff2") format("woff2"), url("../../assets/fonts/open_sans/opensans-variablefont_wdthwght.woff") format("woff"), url("../../assets/fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.promo {
  background-image: linear-gradient(to bottom, rgba(46, 41, 35, 0.2), rgba(46, 41, 35, 0.2)), url("../../assets/img/main-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-block {
  width: clamp(19.563rem, 11.125rem + 36vw, 38.125rem);
  display: flex;
  justify-content: flex-end;
  padding-top: clamp(14.375rem, 11.307rem + 13.09vw, 21.125rem);
  padding-bottom: clamp(2.625rem, 1.602rem + 4.36vw, 4.875rem);
}

.header {
  font-family: "ITC Klepto Pro";
  font-size: clamp(3rem, 1.636rem + 5.82vw, 6rem);
  line-height: 83%;
  color: #ffffff;
}
.tags {
  padding-top: clamp(1.25rem, 0.398rem + 3.64vw, 3.125rem);
  padding-bottom: clamp(1.875rem, 1.023rem + 3.64vw, 3.75rem);
  padding-top: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  padding-bottom: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
}
.tags__wrapper {
  margin-left: clamp(0.938rem, -1.563rem + 10.67vw, 6.438rem);
  position: relative;
}
.tags .links {
  display: flex;
  flex-wrap: nowrap;
}

.tags__wrapper {
  position: relative;
  overflow: hidden;
}

.tags-scroller {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.tags-scroller__content {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: clamp(0.375rem, 0.057rem + 1.59vw, 1.25rem);
  float: left;
  width: min-content;
  min-width: 100%;
  transition: transform 0.4s ease-in-out;
}

.no-transition {
  transition: none;
}

.tag-scroller-btn {
  bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top: 0;
  border: 0;
  background: none;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: #7EBB00;
  width: 40px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 820px) {
  .tag-scroller-btn {
    display: none;
  }
}

.tag-scroller-btn:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.tag-scroller-btn--left {
  left: 0;
  border-radius: 0 50px 50px 0;
}

.tag-scroller-btn--right {
  right: 0;
  border-radius: 50px 0 0 50px;
}

.tag {
  border: 2px solid #7EBB00;
  border-radius: 50px;
  color: #7EBB00;
  font-size: clamp(0.75rem, 0.682rem + 0.34vw, 0.938rem);
  line-height: 120%;
  padding-top: clamp(0.813rem, 0.631rem + 0.91vw, 1.313rem);
  padding-bottom: clamp(0.813rem, 0.631rem + 0.91vw, 1.313rem);
  padding-left: clamp(0.875rem, 0.511rem + 1.82vw, 1.875rem);
  padding-right: clamp(0.875rem, 0.511rem + 1.82vw, 1.875rem);
  white-space: nowrap;
  transition: all ease-in-out 0.2s;
}

.tag:hover, .tag:focus, .tag:active {
  color: #ffffff;
  background-color: #7EBB00;
}/*# sourceMappingURL=main.css.map */