// colors
$color-black: #000000;
$color-white: #ffffff;
$color-title: #002438;
$color-green: #7EBB00;
$color-highlight: #A9D08C;
$color-grey: #B3B3B3;
$color-header: #F5EBE3;
$color-footer: #D0C0B8;

// width
$max-width: 1245px;