.connect-link {
  display: inline-block;
  border: 2px solid #968780;
  border-radius: 50px;
  padding: 14px 20px;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.682rem + 0.34vw, 0.938rem);
  line-height: 155%;
  color: #968780;
  transition: all ease-in-out .2s;

  // z-index: 1;
  position: relative;

  &:hover {
     color: $color-white;
     background-color: #968780;
  }

  &::after {
    content: url('../assets/img/footer-img-2.png');
    position: absolute;
    top: -165px;
    left: 50px;

    @media (max-width: 1200px) {
      display: none;
   }
  }

}