.little-product {
  // max-width: 298px;
  margin-bottom: 10px;

  @media (max-width: 980px) {
    width: 164px;
  }

  // .little-product__img

  &__img {
    aspect-ratio: 289 / 330;
    img {
      @media (max-width: 980px) {
        width: 164px;
      }
      @media (max-width: 420px) {
        aspect-ratio: 164 / 183;
      }
    }
  }

  // .little-product__content

  &__content {
  }
}
.product-subtitle {
  @include tip;
}
.product-title {
  font-weight: 600;
  font-size: clamp(0.938rem, 0.682rem + 1.09vw, 1.5rem);
  line-height: clamp(1.125rem, 0.813rem + 1.33vw, 1.813rem);
  text-transform: uppercase;

  span {
    text-transform: lowercase;
  }
}

@media (max-width: 670px) {
  .product-link:nth-child(2) {
    display: none;
  }
}