.recipe {
  // max-width: 393px;
  transition: all ease-in-out .2s;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.1);
      border-radius: 30px;
    }
    .recipe-title {
      span {
        text-shadow: 0 0 .15px $color-green, 0 0 .15px $color-green;
      }
    }
  }
  
  // .recipe__image

  &__image {
    transition: all ease-in-out .2s;
    margin-bottom: clamp(0.938rem, 0.511rem + 1.82vw, 1.875rem);
    overflow: hidden;
    border-radius: 30px;
    
    img {
      // border-radius: 30px;
      object-fit: contain;
      width: 100%;
      height: 100%;
      aspect-ratio: 395 / 450;
      transition: all ease-in-out .2s;
    }
  }

  // .recipe__content

  &__content {
  }
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: end;

  @media (max-width: 980px) {
    display: block;
  }
}
.text {
  max-width: 286px;

  @media (max-width: 980px) {
   margin-bottom: 12px; 
  }
}
.tip {
  @include tip;
}
.recipe-title {
  font-weight: 400;
  font-size: clamp(0.938rem, 0.682rem + 1.09vw, 1.5rem);
  line-height: clamp(1.188rem, 0.903rem + 1.21vw, 1.813rem);
  color: #000000;
  transition: all ease-in .2s;

  span {
    color: #A9D08C;
    text-transform: uppercase;
    
  }
}
.time {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media (max-width: 980px) {
    flex-direction: row;
    gap: 7px;
  }

  // .time__icon

  &__icon {
    width: 18px;
  }

  // .time__text

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey;
    text-align: right;
  }
}
