html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $color-black;
  min-width: 320px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

section:not(.promo, .tags) {
  max-width: 1140px;
  margin: 0 auto;
}